# Virtual environment
.venv/
venv/

# Images you don't want to track
*.tif
*.tiff
*.png
*.jp2
*.jpg
*.jpeg
*.zip
*.shx
*.shp
*.qmd
*.dbf
*.cpg
*.prj
*.gpkg
*.xml
*.xsd

# Python cache
__pycache__/
*.pyc
